<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default ref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row id="item100" *ngFor="let mess of messages">
        <ion-col offset="4" size="8" class="messBubble msg">
          <span>{{mess.compose}}</span>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-row align-items-center no-padding>
        <ion-col size="10">
          <textarea autosize placeholder="Enter Message" [(ngModel)]="compose" class="messageBox"></textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="sendSms()" style="width: 45px;" class="msgButton" color="success">
          <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>


