<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Typic Shoots
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-img src="assets/lhexy/mine1.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine2.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine3.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine4.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine5.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine6.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine7.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine8.jpg"></ion-img>
  <ion-img src="assets/lhexy/mine9.jpg"></ion-img>



</ion-content>
