
ion-title{
	text-align: center;
	font-family: Algerian;
    font-size: 70px;
	font-weight: bold;
    background-color: rgb(255, 240, 253);
}
ion-img{
    margin-left: 30px;
    margin-top: 10px;
    height: 50%;
    width: 30%;
    float: left;
    background-color: #B0E0E6;
}
ion-card{
    --background:#B0E0E6;
}