ion-title{
	text-align: center;
	font-family: Algerian;
    font-size: 70px;
	font-weight: bold;
    background-color: rgb(255, 240, 253);
}
h5{
	font-family: Agency FB;
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin-left: 20px;
	background-size: 100%;
}
ion-img{
	margin-left: 10px;
	height: 200px;
	stroke-width: 100%;
	margin-top: 5px;
	border-image-outset: #BDB76B;

}
.back{
    --background: #B0E0E6;
}
