<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personal Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
    <ion-toolbar class="back">
      
      <ion-img src="assets/lhexy/mine1.jpg"></ion-img>
      <h5><strong>Name:       Liezel Hembra Panao</strong></h5>
      <h5>Address:    Brgy. Hiagsam Jaro, Leyte</h5>
      <h5>Birthdate:  September 12, 1996</h5>
      <h5>Birthplace: Jaro, Leyte</h5>
      <h5>Height:     162 cm</h5>
      <h5>Weight:     48kgs.</h5>
      <h5>Age:        24 years old</h5>
      <h5>Sex:        Female</h5>
      <h5>Status:     Single</h5>
      <h5>Religion:   Roman Catholic</h5>
    </ion-toolbar>

</ion-content>
