<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>

    <ion-card><center>
      <ion-card-content></ion-card-content>
      <ion-img src="assets/lhexy/mine4.jpg"></ion-img>
      <ion-label>Liezel Hembra Panao</ion-label>
      <ion-img src="assets/lhexy/fbicon.png"></ion-img>
      <ion-label>liezel.panao@evsu.edu.ph</ion-label>
      <ion-img src="assets/lhexy/phicon.png"></ion-img>
      <ion-label>09052989064</ion-label>
    </center>
    </ion-card>
</ion-content>
