ion-title{
	text-align: center;
	font-family: Algerian;
    font-size: 70px;
	font-weight: bold;
    background-color: rgb(255, 240, 253);
}
ion-img{
    height: 120px;
    width: 120px;
    
}
ion-card{
    --background:#B0E0E6;
}